services:
  nginx:
    image: nginx:stable
    container_name: bitchange-nginx
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./infra/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./client/dist:/usr/share/nginx/html:ro
      # se userai TLS con certbot su host:
      - /etc/letsencrypt:/etc/letsencrypt:ro
      - ./infra/certbot/www:/var/www/certbot:ro
    depends_on:
      - server

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    container_name: bitchange-server
    restart: unless-stopped
    env_file:
      - ./server/.env.production
    volumes:
      - ./server/exchange-data:/app/data
    expose:
      - "3001"
